@media screen and (max-width:768px){
    .container{
        max-width: 100%;
    }
}

@media screen and (max-width:576px){
    .container{
        max-width: 100%;
    }

    h1{
        font-size: 3.5rem;
    }

    h2{
        font-size: 3rem;
    }

    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .lessons .col {
        width: 100%;
    }
    
    h3{
        font-size: 1.5rem;
    }

    .lessons .col img, 
    .steps .col img{
    
        height: 300px;
    }

    p.text{
        font-size: 25px;
        margin-bottom: 100px;
    }
    
    .steps .col{
        width: 100%;
    }

       
}

@media screen and (max-width:1160px){
    body{
        overflow-x: hidden;
    }
}